* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
    color: white;
}

body {
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;
}

#display {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
}

#display img {
    min-width: 190%;
    transition: all 1s;
}

#letters {
    position: absolute;
    top: 54%;
    color: black;
    z-index: 20;
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.input {
    position: absolute;
    bottom: 20%;
}

#title {
    font-size: 55px;
}

input {
    outline: none;
    border: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
} 

.input #letterGuess, #letterLabel{
    font-size: 2em;
    border-radius: 10px;
}

.input #wordGuess, #wordLabel{
    font-size: 1.2em;
    border-radius: 10px;
}

.input #letterBtn {
    cursor: pointer;
    font-size: 3.4em;
}

.input #wordBtn {
    cursor: pointer;
    font-size: 2em;
}

.input label, input {
    display: inline-block;
}

.input i {
    transition: all .5s;
}

i:hover {
    opacity: .7;
    color: aquamarine;
    transform: scale(1.2);
}

.scoreDisplay {
    display: flex;
    font-size: 25px;
    margin-left: 10em;
    margin-top: 5px;
    position: absolute;
}

#score {
    margin-left: 10px;
}

#clear {
    height: 50px;
    width: 5em;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    margin-left: 10px;
    background-color: #FF4455;
    outline: none;
    transition: all .5s;
}

#clear:hover {
    border-radius: 20px;
    background-color: #FF3333;
}